Todo_app.xcodeproj/xcuserdata/duisembayev.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
.DS_Store
Todo_app.xcodeproj/project.xcworkspace/xcuserdata/duisembayev.xcuserdatad/UserInterfaceState.xcuserstate
Todo_app.xcodeproj/xcuserdata/duisembayev.xcuserdatad/xcschemes/xcschememanagement.plist
